small(class="footer-text") Created by
  a(class="link" href="https://www.alexmdodge.ca") Alex Dodge 

a( 
  href="https://github.com/alexmdodge/grid-grind"
  class="footer-github"
  target="_blank"
)
  i(class="fa fa-github")

a(
  href="https://www.paypal.me/AlexDodge"
  class="footer-paypal"
  target="_blank"
)
  i(class="fa fa-coffee")

small(class="footer-text") 2017