//- Intro screen with start and game logo
div(class="intro__logo")
  img(
    src='/assets/images/gg-header-logo.png'
    alt="Grid Grind Logo Title" 
    class="intro__logo-src"
  )

div(class="intro__name")
  input(
    type="text" 
    id="player__name" 
    placeholder="ENTER NAME"
    class="field__input"
  )

div(class="intro__button") Play